@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="homepage-jumbotron">
    <h1>My Wardrobe</h1>
    <p class="lead">I might put some featured wardrobes as a slider here? </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <h2 class="red">Tops</h2>
            <p>
                Easily add and view all the tops in your wardrobe. Identify them by color, occassion, and season. Donated it? Spilled red wine on it? No problem! You can also easily items from your wardrobe. 
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Tops")">Tops</a></p>
        </div>
        <div class="col-md-3 text-center">
            <h2 class="red">Bottoms</h2>
            <p>Add and sort through all of your bottoms, from shorts to dress slacks. Put on a little extra weight? No problem, it's just as easily to delete and old pair and add a new one with your new waist size!</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Bottoms")">Bottoms</a></p>
        </div>
        <div class="col-md-3 text-center">
            <h2 class="red">Shoes</h2>
            <p> Wardrobe helps you organize your shoes by season, color, and occassion. Shoes for the work day, shows for play!. That favorite pair of sneakers getting stinky? Toss em! Delete them from wardrobe and add a new pair!</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Shoes")">shoes</a></p>
        </div>
        <div class="col-md-3 text-center">
            <h2 class="red">Accessories</h2>
            <p>Finding those right cufflinks in the drawer can be difficult. But with Wardrobe, at least you know they're there! Add your watches, ties, rings, and other accessories with the snap of a finger. </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Accessories")">Learn more &raquo;</a></p>
        </div>
    </div>
</div>