body {
  
   font-family: 'Crimson Text', serif;

}

.julius-font{
    font-family: 'Julius Sans One', sans-serif;
    text-transform:capitalize
}

#homepage-jumbotron {
    background-image: url('images/wardrobe.jpg');
    background-size:cover;
    background-position:center;
    height:75vh;
    text-align:center;
    padding-top:10vh;
    padding-left:20%;
    padding-right:20%;
    border-bottom:4px solid #76323F;
}

.jumbotron-titlebox{
    background-color:rgba(181, 177, 175, .9);
    padding: 10px;
    border:2px solid #76323F;
    color:#76323F;
    
}

.lead{
    font-family: 'Crimson Text', serif;
    font-style:italic;
}

#universalnav{
    background-color:#B5B1AF;
    border-bottom: 2px solid #76323F;
    
}

.navbar-brand{
    color:#76323F;
    font-family: 'Julius Sans One', sans-serif;
    text-transform:capitalize;
}

.navbar-brand:hover{
    color:white;
}

.navlink{
    color:white;
    text-transform:uppercase;
}

.navlink:hover{
    background-color:#565656;
    color:#76323F;
}

#navbutton{
    background-color:#565656;
    color:white;
}

.navbar-toggle .icon-bar{ background-color:white;}

img.index-photo{
    margin-top:10px;
    width:100%;   
}

div.index-infoholder{
   
   text-align:center;
   width:95%;
   background-color:rgb(224, 220, 217);
   margin-top:20px;
   margin-bottom:15px;
   margin-left:auto;
   margin-right:auto;
   border:1px solid #565656;
}

.index-name{
    text-align:center;
}

.red{
    color:#76323F;
    font-family: 'Julius Sans One', sans-serif;
    text-transform:capitalize
}


.btn-default{
    align-items:center;
    background-color:white;
    color:#76323F;
    border: 1px solid #76323F;
    border-radius:0;
    text-transform:uppercase;
    
}

.btn-default:hover{
    background-color:#76323F;
    color:white;
    border-color:none;
}

.icon-holder{
    display:inline-block;
}

.glyphicon-index-link{
    font-size:16px;
    margin-left:5px;
    margin-right:5px;
    color:#565656;

}

.glyphicon-index-link:hover{
    text-decoration:none;
    color:#76323F;
}


.img-thumbnail{
    width:50px;
    float:left;
    margin-right:10px;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

.detail-photo{
   width:auto;
   display:block;
   margin: auto;
  

}


.red-box{
    height:250px;
    background-color:#76323F;
    color:white;
    margin-bottom:15px;
    text-align:center;
    padding-top:100px;
}

.tan-box{
    height:250px;
    background-color: #C09F80;
    color: white;
    margin-bottom:15px;
    text-align:center;
    padding-top:100px;
}

.gray-box{
    height:250px;
    background-color: #B5B1AF;
    color:white;
    margin-bottom:15px;
    text-align:center;
    padding-top:100px;
}

.chalkboard-box{
    height:250px;
    background-color: #565656;
    color:white;
    margin-bottom:15px;
    text-align:center;
    padding-top:100px;

}

